body {
  background-color: rgb(23, 23, 94);
 opacity: 90%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

ul {
  list-style-type: none;
  margin: 0px 10px;
  padding: 0px;
  background-color: rgb(23, 23, 94);
  position: absolute;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 110px;
  text-decoration: none;
  font-size: 20px;
}

li a:hover {
  background-color: rgb(18, 13, 80);
}

h1 {
  background-color:rgb(23, 23, 94);
  padding: 25px;
  color: white;
  position: absolute;
  bottom: 8px;
  left: 16px;
}

h2 {
  color: white;
 padding: 15px;
  font-size: 30px;
  padding-top: 20px;
 display: inherit;
 margin-block-end: initial;
 margin-block-start: -20px;
}
#one {
  max-width: 100%;
  height: auto;
}
#two {
  max-width: 45%;
  float: right;
}

#smart{
  margin-top: 30px;
}

p{
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-stretch: extra-expanded;
}

#plan {
  font-size: 20px;
  max-width: 550px;
  margin-bottom: 300px;
  padding-left: 15px;
}

#offertitle {
position: absolute;
display: inline-block
}

#offer {
  float: right;
  font-size: 20px;
  max-width: 550px;
  margin-top: 50px;
  padding-left: 15px;
}

#three {
  max-width: 50%;
  margin-top: 55px;
  margin-bottom: 20px;
  background-color: white;
}

#four {
  max-width: 50%;
  float: right;
}

#five {
  max-width: 50%;
}


